<div class="row">
    <div class="col-xs-12">
        
        <div ng-show="mobileData">

            <h1>{{mobileData.name}}</h1>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td><strong>Additional Features</strong></td>
                        <td ng-if="mobileData.additionalFeatures!=''">{{mobileData.additionalFeatures}}</td>
                    </tr>
                    <tr>
                        <td><strong>Android version</strong></td>
                        <td><span ng-if="mobileData.android.os!=''">OS - {{mobileData.android.os}}, </span><span ng-if="mobileData.android.ui!=''">UI - {{mobileData.android.ui}}</span></td>
                    </tr>
                    <tr>
                        <td><strong>Availability</strong></td>
                        <td ng-if="mobileData.availability!=''">{{mobileData.availability[0]}}</td>
                    </tr>
                    <tr>
                        <td><strong>Battery</strong></td>
                        <td><span ng-if="mobileData.battery.standbyTime!=''">Standby - {{mobileData.battery.standbyTime}}, </span><span ng-if="mobileData.battery.talkTime!=''">Talk - {{mobileData.battery.talkTime}}, </span><span ng-if="mobileData.battery.type!=''">Type - {{mobileData.battery.type}}</span></td>
                    </tr>
                    <tr>
                        <td><strong>Camera</strong></td>
                        <td><span ng-repeat="features in mobileData.camera.features">{{features}} {{$last ? '' : ', '}} </span><span ng-if="mobileData.camera.primary"><br />Primary - </span> {{mobileData.camera.primary}}</td>
                    </tr>
                    <tr>
                        <td><strong>Connectivity</strong></td>
                        <td>
                            <span ng-if="mobileData.connectivity.bluetooth!=''">Bluetooth - {{mobileData.connectivity.bluetooth}}, </span>
                            <span ng-if="mobileData.connectivity.cell!=''">Cell - {{mobileData.connectivity.cell}}, </span>
                            <span ng-if="mobileData.connectivity.gps!=''">GPS - {{mobileData.connectivity.gps}}, </span>
                            <span ng-if="mobileData.connectivity.infrared!=''">Infrared - {{mobileData.connectivity.infrared}}, </span>
                            <span ng-if="mobileData.connectivity.wifi!=''">WIFI - {{mobileData.connectivity.wifi}} </span>

                        </td>
                    </tr>
                    <tr>
                        <td><strong>Description</strong></td>
                        <td ng-if="mobileData.description!=''">{{mobileData.description}}</td>
                    </tr>
                    <tr>
                        <td><strong>Display</strong></td>
                        <td>
                            <span ng-if="mobileData.display.screenResolution!=''">Screen resolution - {{mobileData.display.screenResolution}}, </span>
                            <span ng-if="mobileData.display.screenSize!=''">Screen size - {{mobileData.display.screenSize}}, </span>
                            <span ng-if="mobileData.display.touchScreen!=''">TouchScreen - {{mobileData.display.touchScreen}}</span>
                        </td>
                    </tr>




                </tbody>
            </table>



        </div>
        <div ng-show="!mobileData">
            No Data
        </div>
        
    </div>
</div>